.sent-message {
    background-color: #DCF8C6;
    text-align: right;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
    float: right;
    clear: both;
}

.received-message {
    background-color: #FFF;
    text-align: left;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
    float: left;
    clear: both;
}

.chat_area {
    overflow: auto;
    height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}