@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

::-webkit-scrollbar {
    display: none;
}

body {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    font-family: 'Pretendard-Regular';
    margin: 0;
    padding: 1% 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden; /* body에는 스크롤바가 생기지 않도록 설정 */
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

.title{
    align-self: center;
}

.profile_area{
    display: flex;
    justify-content: space-evenly;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.userimg {
    position: relative;
    clip-path: circle(45% at center);
    display: flex;
    flex-direction: column;
}
.username{
    font-size: 1.4em;
    height: 30px;
}
.user{color: #6200ea;}
.userimg> img{
    max-height:200px;
}
.chat_area {
    overflow-y: auto; /* 세로 스크롤바가 생기도록 설정 */
    padding: 20px;
    height: calc(100% - 20px); /* content_box의 높이에서 패딩 값을 제외한 높이 설정 */
    -ms-overflow-style: none;
 }
.content_box{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
}
.chat_box {
    overflow: auto;
    width: fit-content;
    max-width: 60%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    font-size: 1em;
    line-height: 1.5;
    /*채팅 드래그 가능*/
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
    user-select:text;
}
.send {
    background-color: #9b62f5;
    color: aliceblue;
    margin-left: auto;
}
.receive {
    background-color: #f7f0e4;
    text-align: right;
    margin-right: auto;
    text-align: left;
}
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}
textarea{
    flex-grow: 1;
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid #ddd;
    overflow: auto;
    border-radius: 8px;
    margin-right: 10px;
    font-family: 'Pretendard-Regular';
    resize: none;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #6200ea;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #3700b3;
}

@media (min-width: 900px) {
    .chat_area {
        width: 80vw;
    }

    .header{
        width: 90vw;
    }

    form{
        width: 80vw;
    }
}

.footer {
    display: none; 
}

#nameInput{
    flex-grow: 1;
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid #ddd;
    overflow: auto;
    border-radius: 8px;
    margin-right: 10px;
    font-family: 'Pretendard-Regular';
    resize: none;
}

#submitName{
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #6200ea;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#SpeechBubble {
    position: absolute;
    transform-origin: 0% 100%;
    text-align: center;
    background-color: #5a5a5a;
    color: white;
    border-radius: 10px;
    width: 150px;
    padding: 10px;
    right: 210px;
    top: 60px;
    transform: scale(0);
    animation-fill-mode: forwards;
  }

  #SpeechBubble::before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    bottom: -25px;
    left: 5px;
    border-style: solid;
    border-width: 15px;
    border-color: #5a5a5a transparent transparent #5a5a5a;
    transform: rotate(10deg);
  }

  #SpeechBubble2 {
    position: absolute;
    transform-origin: 0% 100%;
    text-align: center;
    background-color: #5a5a5a;
    color: white;
    border-radius: 10px;
    width: 120px;
    padding: 10px;
    left: 240px;
    top: 60px;
    transform: scale(0);
    animation-fill-mode: forwards;
  }

  #SpeechBubble2::before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    bottom: -25px;
    right: 5px;
    border-style: solid;
    border-width: 15px;
    border-color: #5a5a5a transparent transparent #5a5a5a;
    transform: rotate(440deg);
  }

  @keyframes expand-bounce {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.25);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes shrink {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }